:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-image: url("../assets/bg.jpeg");
  min-height: 70vh; 
  background-repeat: no-repeat; 
  background-size: auto;
}

a {
  font-size: 1.8em;
  color: #0f1256;
  text-decoration: inherit;
}
a:hover {
  color: #9fa1cc;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 50vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) { */
  @media (max-width: 350px) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  body {
  font-family: 'Bebas Neue', cursive;
  background-image: url("../assets/bg.jpeg");
  height: 900px; 
  background-repeat: repeat; 
  background-size: auto;
  }
  .container > h1 {
    margin: 1vh;
    font-size: 2em;
  }
  .App {
  max-width: 55vh;
  gap: 0;
  padding: .5vh;
  margin-top: 0;
  }
  .nav--main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content:space-between; */
    padding: 1vh 1vh 1vh 1vh;
    height: 6vh;
    border-radius: 1.3vh 1.3vh 0 0;
    gap: 0;
    background-color: #d0b955;
  }
    .nav--main-div > h3 {
    color: antiquewhite;
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
    text-shadow: rgb(0, 47, 234) 4px 4px 2px;
  }
  .footer--main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    height: 2vh;
    border-radius: 0 0 15px 15px;
    gap: 1vh;
    background: rgb(185, 236, 254);
  }
  
  .footer--main-div > h3{
    color: black;
    font-weight: 600;
    font-size: 1em;
    font-family: 'Bebas Neue', cursive;
    text-shadow: rgb(255, 235, 225) 1px 0 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    padding: .5vh;
  }
  .gif--div {
    max-width: 100%;
    height: auto;
  }
  .search--label {
    width: 100%;
    align-self: center;
    font-size: 1.1em; 
  }
  .input {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Bebas Neue', cursive;
    text-indent: .2em;
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 1vh;
  }
  .logo {
    width: 100%;
    padding: 1vh;
    will-change: filter;
    transition: filter 300ms;
    border: solid 2px black;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 2.5vh;
    font-size: 1.2em;
    background-color: #FC0;
  }
  a {
    font-size: 1em;
    color: #0f1256;
    text-decoration: inherit;
  }
  }